<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
<h2>로그인</h2>
<form action="/signIn" method="post">
    <span th:if="${session.member == null}">로그인이 필요합니다.</span>
    <div>
        ID : <input type="text"  name="id">
    </div>
    <div>
        PASSWORD : <input type="text" name="password">
    </div>
    <button type="submit">로그인</button>
</form>
<a href="/signUp">회원가입</a>
</body>
</html>