<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SignUp 테스트 페이지</title>
</head>
<body>
<h3>SignUp</h3>
<form method="post" action="/addmember" id="signUp">
  name    <input type="text" name="name"><br>
  id      <input type="text" name="id"><br>
  pwd     <input type="text" name="pwd"><br>
  email   <input type="text" name="email"><br>
  birth   <input type="date" name="birth"> <br>

</form>
<button type="submit" form="signUp">가입하기</button>

</body>
</html>