<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
<h2>회원가입</h2>
    <form action="/signUp" method="post">
        <div>
            ID : <input type="text"  name="id">
        </div>
        <div>
            PASSWORD : <input type="text" name="password">
        </div>
        <button type="submit">가입하기</button>
    </form>
</body>
</html>