<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>MyPetUpdate 테스트 페이지</title>
</head>
<body>
<h3>MyPetUpdate</h3>

<form method="post" action="/updatepet" id="pet_update">

    id : <span th:text="${pet.memId}"></span>
        <input type="hidden" name="id" th:value="${pet.memId}"><br>

    name : <span th:text="${pet.petName}"></span>
        <input type="hidden" name="name" th:value="${pet.petName}"><br>

    gender <input type="text" name="gender" th:value="${pet.petGender}"><br>

    introduce <input type="text" name="introduce" th:value="${pet.petIntro}"><br>

</form>
<button type="submit" form="pet_update">수정완료</button>

</body>
</html>
