<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>일사천리동물병원찾기TEST</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        #map {
            width: 500px;
            height: 500px;
        }
        #hospitalList {
            max-height: 500px;
            overflow-y: auto;
            margin-top: 20px;
            text-align: left;
        }
    </style>
</head>
<body>
<div id="map" style="width:500px;height:500px;"></div>
<div id="hospitalList"></div> <!-- 동물병원을 표시할 리스트 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b8c79beeb803eb62674e37a9a283ff54&libraries=clusterer"></script>
<script>
    kakao.maps.load(function () {
        var mapContainer = document.getElementById('map');
        var hospitalListContainer = document.getElementById('hospitalList');

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;

                var centerPosition = new kakao.maps.LatLng(lat, lon);

                var mapOption = {
                    center: new kakao.maps.LatLng(lat, lon),
                    level: 5
                };

                var map = new kakao.maps.Map(mapContainer, mapOption);

                var clusterer = new kakao.maps.MarkerClusterer({
                    map: map,
                    averageCenter: true,
                    minLevel: 10
                });

                var infowindows = [];

                // 전체 병원 데이터에 대한 마커 표시
                fetch(`/pethospital`)
                    .then(response => response.json())
                    .then(data => {
                        var markers = [];

                        for (var i = 0; i < data.length; i++) {
                            var position = new kakao.maps.LatLng(data[i].latitude, data[i].longitude);
                            var marker = new kakao.maps.Marker({
                                position: position
                            });

                            markers.push(marker);

                            var content = `<div style="padding: 10px;">
                                <strong>${data[i].name}</strong><br>
                                주소: ${data[i].address2}<br>
                                전화번호: ${data[i].tel}
                            </div>`;

                            var infowindow = new kakao.maps.InfoWindow({
                                content: content,
                                removable: true,
                                maxWidth: 300
                            });

                            infowindows.push(infowindow);

                            kakao.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                                return function() {
                                    infowindows.forEach(function(infowindow) {
                                        infowindow.close();
                                    });
                                    infowindows[i].open(map, marker);
                                }
                            })(marker, i));

                            kakao.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
                                return function() {
                                    infowindows[i].close();
                                }
                            })(marker, i));
                        }

                        clusterer.addMarkers(markers);

                        // 현재 위치에서 5km 이내의 병원만 리스트에 표시
                        fetch(`/pethospital?lat=${lat}&lon=${lon}&distance=5000`)
                            .then(response => response.json())
                            .then(nearbyData => {
                                var hospitalListHTML = '';

                                for (var i = 0; i < nearbyData.length; i++) {
                                    var position = new kakao.maps.LatLng(nearbyData[i].latitude, nearbyData[i].longitude);
                                    var distance = kakao.maps.geometry.distance(centerPosition, position);

                                    if (distance <= 5000) {
                                        hospitalListHTML += `<li>${nearbyData[i].name} - ${nearbyData[i].address2} - ${nearbyData[i].tel}</li>`;
                                    }
                                }

                                hospitalListContainer.innerHTML = `<ul>${hospitalListHTML}</ul>`;
                            })
                            .catch(error => console.error('데이터 가져오기 오류:', error));
                    })
                    .catch(error => console.error('데이터 가져오기 오류:', error));
            }, function(error) {
                var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
                    message = 'geolocation을 사용할수 없어요.. (' + error.message + ')';

                var mapOption = {
                    center: locPosition,
                    level: 5
                };

                var map = new kakao.maps.Map(mapContainer, mapOption);
            });
        } else {
            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
                message = 'geolocation을 사용할수 없어요..'

            var mapOption = {
                center: locPosition,
                level: 5
            };

            var map = new kakao.maps.Map(mapContainer, mapOption);
        }
    });
</script>
</body>
</html>