<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.doublelifebackend.repository.BoardRepository">

    <!--  글 상세 조회  -->
    <select id="selectOne" parameterType="hashMap" resultType="com.mypet.doublelifebackend.vo.BoardVO">
        select id, bno, category, title, writer, content, view_cnt, comment_cnt, hit_cnt, reg_date, updated_date
        from board
        where id =#{id}
    </select>

    <!--  게시글을 리스트로 반환  -->
    <select id="list" parameterType="string" resultType="com.mypet.doublelifebackend.vo.BoardVO">
        SELECT id, bno, title, writer, reg_date, view_cnt, category
        FROM board
        WHERE category = #{category}
        ORDER BY id ASC
    </select>

    <!--  Qna 글작성  -->
    <insert id="writeQna" parameterType="com.mypet.doublelifebackend.vo.BoardVO">
        INSERT INTO board(id, bno, title, writer, content, category)
        VALUES(ID_SEQ.NEXTVAL, QNA_BNO_SEQ.NEXTVAL, #{title}, #{writer}, #{content}, #{category})
    </insert>

    <!--  Trade 글작성  -->
    <insert id="writeTrade" parameterType="com.mypet.doublelifebackend.vo.BoardVO">
        INSERT INTO board(id, bno, title, writer, content, category)
        VALUES(ID_SEQ.NEXTVAL, TRADE_BNO_SEQ.NEXTVAL, #{title}, #{writer}, #{content}, #{category})
    </insert>

    <!--  Walkingmate 글작성  -->
    <insert id="writeWalkingmate" parameterType="com.mypet.doublelifebackend.vo.BoardVO">
        INSERT INTO board(id, bno, title, writer, content, category)
        VALUES(ID_SEQ.NEXTVAL, WALKINGMATE_BNO_SEQ.NEXTVAL, #{title}, #{writer}, #{content}, #{category})
    </insert>

    <!--  게시물 수정  -->
    <update id="modify" parameterType="com.mypet.doublelifebackend.vo.BoardVO">
        update board
        set title = #{title}, content = #{content}, updated_date = sysdate
        where category = #{category} and bno = #{bno}
    </update>

    <!--  게시물 삭제  -->
    <delete id="delete" parameterType="int">
        delete from board where id=#{id}
    </delete>

    <!--  조회수 증가  -->
    <update id="boardViewCnt" parameterType="int">
        update board set view_cnt=view_cnt+1 where id=#{id}
    </update>

    <!--  게시글 번호 조정해서 리스트로 반환  -->
    <select id="listPage" parameterType="string" resultType="com.mypet.doublelifebackend.vo.BoardVO">
        select * from
            (select row_number() over(order by bno) as bno
                ,id
                  ,title
                  ,writer
                  ,reg_date
                  ,view_cnt
                  ,category
             from board
             WHERE category = #{category})
        order by id asc
    </select>
</mapper>