<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.doublelifebackend.repository.BoardRepository">

    <!--    게시판 상세 조회-->
    <select id="selectOne" parameterType="int" resultType="com.mypet.doublelifebackend.vo.BoardVO">
        select id, bno, category, title, writer, content, view_cnt, comment_cnt, hit_cnt,reg_date, updated_date
        from board
        where id = #{id}
    </select>

    <!--    게시판 목록 조회-->
    <select id="list" parameterType="string" resultType="com.mypet.doublelifebackend.vo.BoardVO">
        SELECT
            bno, title, writer, reg_date, view_cnt, id
        FROM board
        WHERE category = #{category}
    </select>

<!--    &lt;!&ndash;    게시물 작성&ndash;&gt;-->
<!--    <insert id="write" parameterType="com.mypet.doublelifebackend.vo.BoardVO">-->
<!--        INSERT INTO board(category, bno, title, writer, content)-->
<!--        VALUES(#{category}, BNO_SEQ.NEXTVAL, #{title}, #{writer}, #{content})-->
<!--    </insert>-->

    <!--  Qna 글작성  -->
    <insert id="writeQna" parameterType="com.mypet.doublelifebackend.vo.BoardVO">
        INSERT INTO board(id, bno, title, writer, content, category)
        VALUES(300, 300, #{title}, #{writer}, #{content}, #{category})
    </insert>

    <!--    게시물 수정-->
    <update id="modify" parameterType="com.mypet.doublelifebackend.vo.BoardVO">
        update board
        set title = #{title}, content = #{content}, updated_date = sysdate
        where bno = #{bno}
    </update>

    <!--    게시물 삭제-->
    <delete id="delete" parameterType="int">
        delete from board where bno=#{bno}
    </delete>
</mapper>