<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.doublelifebackend.repository.MemberRepository">
    <!--  회원가입 하기  -->
    <insert id="signup" parameterType="com.mypet.doublelifebackend.vo.MemberVO">
        INSERT INTO members(id, password)
        VALUES(#{id}, #{password})
    </insert>

    <!--  로그인 하기  -->
    <select id="signin" resultType="com.mypet.doublelifebackend.vo.MemberVO">
        SELECT id, password
        FROM MEMBERS
        WHERE ID=#{id}
    </select>
</mapper>