<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.doublelifebackend.repository.MyPetRepository">

    <resultMap id="petResult" type="MyPetVO">
        <result property="memId" column="id" />
        <result property="petName" column="name" />
        <result property="petGender" column="gender" />
        <result property="petBirth" column="birth" />
        <result property="petIntro" column="introduce" />
    </resultMap>

    <!-- memId와 petName이 일치하는 pet 출력 -->
    <select id="selectMyPetByName" parameterType="String" resultMap="petResult">
        SELECT *
        FROM pet
        WHERE id = #{memId} AND name = #{petName}
    </select>

    <!-- memId가 일치하는 pet 전체 출력 -->
    <select id="selectAllMyPet" parameterType="String" resultType="MyPetVO">
        SELECT *
        FROM pet
        WHERE id = #{memId}
    </select>

    <!-- 새로운 pet 추가 -->
    <insert id="insertMyPet" parameterType="MyPetVO" >
        INSERT INTO pet (id, name, gender, introduce)
        VALUES (#{memId}, #{petName}, #{petGender}, #{petIntro})
    </insert>

    <!-- pet 정보 수정 -->
    <update id="updateMyPet" parameterType="MyPetVO" >
        UPDATE pet SET name = #{petName}, gender = #{petGender}, introduce = #{petIntro}
        WHERE id = #{memId} AND name = #{petName}
    </update>

    <delete id="deleteMyPet" parameterType="String">
        DELETE
        FROM pet
        WHERE id = #{memId} AND name = #{petName}
    </delete>

</mapper>