<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.doublelifebackend.repository.MyPetRepository">

    <resultMap id="petResult" type="MyPetVO">
        <result property="memId" column="mid" />
        <result property="petNo" column="pno" />
        <result property="petName" column="name" />
        <result property="petGender" column="gender" />
        <result property="petBirth" column="birth" />
        <result property="petIntro" column="introduce" />
        <result property="imgNo" column="img_no" />
    </resultMap>

    <!-- memId와 petNo이 일치하는 pet 출력 -->
    <select id="selectMyPetByNo" parameterType="int" resultMap="petResult">
        SELECT *
        FROM pet
        WHERE pno = #{petNo}
    </select>


    <select id="selectMyPetImgByNo" parameterType="int" resultType="Integer">
        SELECT IMG_NO
        FROM pet
        WHERE pno = #{petNo}
    </select>

    <!-- memId가 일치하는 pet 전체 출력 -->
    <select id="selectAllMyPet" parameterType="String" resultMap="petResult">
        SELECT *
        FROM pet
        WHERE mid = #{memId}
        ORDER BY reg_date
    </select>

    <select id="selectAllMyPetNo" parameterType="String" resultType="Integer">
        SELECT pno
        FROM pet
        WHERE mid = #{memId}
        ORDER BY reg_date
    </select>

    <!-- 새로운 pet 추가 -->
    <insert id="insertMyPet" parameterType="MyPetVO" >
        INSERT INTO pet (mid, pno, name, gender, birth, introduce, img_no)
        VALUES (#{memId}, #{petNo}, #{petName}, #{petGender}, #{petBirth}, #{petIntro}, #{imgNo})
    </insert>

    <!-- pet 정보 수정 -->
    <update id="updateMyPet" parameterType="MyPetVO" >
        UPDATE pet SET name = #{petName}, gender = #{petGender}, birth = #{petBirth}, introduce = #{petIntro}, img_no = #{imgNo}
        WHERE pno = #{petNo}
    </update>

    <delete id="deleteMyPet" parameterType="int">
        DELETE
        FROM pet
        WHERE pno = #{petNo}
    </delete>

    <!-- 마지막 max(m_number) = null 이면 0으로 치환 후 +1 return -->
    <select id="getLastNumber" resultType="int">
        select NVL(max(pno),0) +1 from pet
    </select>
</mapper>