<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.doublelifebackend.repository.MyPetRepository">

    <resultMap id="mypetResult" type="MyPetVO">
        <result property="memNumber" column="MNO" />
        <result property="memName" column="NAME" />
        <result property="memId" column="ID" />
        <result property="memPwd" column="PASSWORD" />
        <result property="memEmail" column="EMAIL" />
        <result property="memBirth" column="BIRTH" />
    </resultMap>

    <!-- memNumber와 일치하는 member 출력 -->
    <select id="selectMyPetByNum" parameterType="int" resultMap="mypetResult">
        SELECT *
        FROM member
        WHERE MNO = #{memNumber}
    </select>

    <!-- id와 pwd가 일치하는 member 출력 -->
    <select id="selectMyPetByLogin" parameterType="String" resultMap="mypetResult">
        SELECT *
        FROM member
        WHERE ID = #{id} and PASSWORD = #{pwd}
    </select>

    <!-- member 전체 출력 -->
    <select id="selectAllMyPet" resultType="MyPetVO">
        SELECT *
        FROM member
    </select>

    <!-- 새로운 member 추가 -->
    <insert id="insertMyPet" parameterType="MyPetVO" >
        INSERT INTO member (MNO, NAME, ID, PASSWORD, EMAIL)
        VALUES (#{memNumber}, #{memName}, #{memId}, #{memPwd}, #{memEmail})
    </insert>

    <!-- member 정보 수정 -->
    <update id="updateMyPet" parameterType="MyPetVO" >
        UPDATE member SET NAME = #{memName}, ID = #{memId}, PASSWORD = #{memPwd}, EMAIL = #{memEmail}
        WHERE MNO = #{memNumber}
    </update>


</mapper>