<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.doublelifebackend.repository.MyTodoRepository">

    <resultMap id="todoResult" type="TodoVO">
        <result property="memId" column="mid" />
        <result property="doNo" column="tno" />
        <result property="doDate" column="do_date" />
        <result property="doContent" column="content" />
    </resultMap>


    <select id="selectMyTodoByNo" parameterType="int" resultMap="todoResult">
        SELECT *
        FROM todo
        WHERE tno = #{doNo}
    </select>


    <select id="selectMyTodo" parameterType="String" resultMap="todoResult">
        SELECT *
        FROM todo
        WHERE mid = #{memId}
        ORDER BY reg_date DESC
    </select>


    <insert id="insertMyTodo" parameterType="TodoVO" >
        INSERT INTO todo (mid, tno, do_date,content)
        VALUES (#{memId}, #{doNo}, #{doDate}, #{doContent})
    </insert>


    <update id="updateMyTodo" parameterType="TodoVO" >
        UPDATE todo SET do_date=#{doDate}, content = #{doContent}
        WHERE tno = #{doNo}
    </update>

    <delete id="deleteMyTodo" parameterType="int">
        DELETE
        FROM todo
        WHERE tno = #{doNo}
    </delete>

    <!-- 마지막 max(m_number) = null 이면 0으로 치환 후 +1 return -->
    <select id="getLastNumber" resultType="int">
        select NVL(max(tno),0) +1 from todo
    </select>
</mapper>