<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mypet.doublelifebackend.repository.UserRepository">
    <!-- 로그인 -->
    <select id="getUserAccount" resultType="com.mypet.doublelifebackend.vo.UserVO">
        SELECT * FROM "JAVA15_FINAL_FIRST"."NMEMBER"
        WHERE id = #{userId}
    </select>

    <!-- 회원가입 -->
    <insert id="saveUser" parameterType="com.mypet.doublelifebackend.vo.UserVO">
        INSERT INTO "JAVA15_FINAL_FIRST"."NMEMBER"
            (UNO, ID, PASSWORD, NAME, EMAIL, AUTH, BIRTH, REG_DATE, UPDATED_DATE)
        VALUES(UNO_SEQ.NEXTVAL, #{userId}, #{userPw}, #{userName}, #{userEmail}, #{userAuth},
               TO_DATE(#{userBirth}, 'yyyy/MM/dd'), #{regDate}, #{updatedDate})
    </insert>

    <!-- 아이디 중복체크 -->
    <select id="isIdCheck" parameterType="String" resultType="boolean">
        /* 회원 아이디 중복체크 */
        SELECT
            if(COUNT(1) = 1, 0, 1)
        FROM
            "JAVA15_FINAL_FIRST"."NMEMBER" as m
        where
            m.ID = #{userId}
    </select>
</mapper>