<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
<form method="post">
    <div>
        <div style="display: none";>
            게시판 분류 : <input th:value="${board.category}" type="text" name="category">
        </div>
        <div>
            게시글 번호: <input th:value="${board.bno}" type="text" name="bno">
        </div>

        <div>
            제목: <input th:value="${board.title}" type="text" name="title">
        </div>
        <div style="display: none";>
            작성자: <input th:value="${board.writer}" type="text" name="writer">
        </div>
        <div>
            내용: <textarea th:text="${board.content}"name="content" rows="4" cols="30"></textarea>
        </div>
    </div>
    <button type="submit">완료</button>
</form>
</body>
</html>