<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <form>
        <div th:if="${session.member != null}">
            <span >[[ ${session.member.id} ]]</span>
            <span>님  </span>
            <a href="/signOut">로그아웃</a>
        </div>
        <a href="/petmunity/qna/1">QNA</a>
        <a href="/petmunity/trade/1">중고거래</a>
        <a href="/petmunity/walkingmate/1">산책 메이트</a>
    </form>
</body>
</html>