<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
<form name="writeForm" method="post">
    <div>
        <div>
        게시판 분류 : <input type="text" name="category">
        </div>
        <div>
        제목: <input type="text" name="title">
        </div>
        <div>
        작성자: <input type="text" name="writer">
        </div>
        <div>
        내용: <textarea name="content" rows="4" cols="30"></textarea>
        </div>
    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>