<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
<!-- 이미지 첨부를 위해서 인코딩 방식을 multipart/form-data로 설정-->
<form name="writeForm" method="post" enctype="multipart/form-data">
    <div>
<!--        <div style="display: none;">-->
<!--        <div>-->
<!--            게시글 번호 : <input type="text" th:value="${bno}" name="bno">-->
<!--        </div>-->
        <div>
            게시판 분류 : <input type="text" name="category">
        </div>
        <div>
            제목: <input type="text" name="title">
        </div>
        <div>
            작성자: <input type="text" name="writer">
        </div>
        <div>
            내용: <textarea name="content" rows="4" cols="30"></textarea>
        </div>
    </div>
    <h4>다중 파일 업로드</h4>
    <input type="file" multiple="multiple" name="files">
    <button type="submit">등록</button>
</form>
</body>
</html>